# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.h5

# Datasets
FER2013_Emotion_Analysis/dataset

# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Logs
*.log

# IDE settings (e.g., VS Code, PyCharm)
.vscode/
.idea/
